{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
    <h1>{{ new_weight_price }} </h1>
    <div class="container-fluid cart-container">
        <div class="row mt-3">
            <div class="col">
                <h3 class="text-center">FREE DELIVERY WHEN YOU SPEND OVER £{{ free_delivery_threshold }}
                <hr class="w-80">  
                </h3>   
            </div>
        </div>
        <div class="row">
            <div class="col d-flex">
                <h2 class="mr-auto p-2">Shopping Bag</h2>
                <a href="" class="p-2">
                    <button type="button" class="btn btn-lg checkout-btn">Checkout Securely <i class="fas fa-lock ml-2"></i></button>
                </a>
            </div>
        </div>
        <hr class="w-80 mb-4">
        <div class="row mb-3">
            <div class="col">
                {% if cart_items %}
                {{ cart_items }}
                <br>
                <br>
                {{ request.session.cart }}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr class="w-25">
                                    <td>
                                        <img src="{{ item.product.image_url }}" alt="" class="img-fluid cart-img" >
                                    </td>
                                    <td>
                                        <p>{{ item.product.Name }}</p>
                                        <p>Amount: {% if item.product.has_weight %} {{item.weight}} {% else %}{{item.product.Size}}{%endif %}</p>
                                    </td>
                                    <td>
                                        <p>£{% if item.product.has_weight %}
                                                {% if item.weight == '2.5kg' %}
                                                    {{ medium_weight_price }} 
                                                {% elif item.weight == '5kg' %}
                                                    {{ heavy_weight_price }} 
                                                {% else %}
                                                    {{ item.product.Price }}  
                                                {% endif %}
                                            {% else %} 
                                                {{ item.product.Price }} 
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td>
                                        <form class="update-form" method="POST" action="{% url 'adjust_cart' item.product_id %}">
                                            {% csrf_token %}
                                            <label for="quantity">Quantity</label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <button class="btn checkout-btn btn-sm decrement-qty" data-item_id="{{ item.product_id }}" id="decrement-qty_{{ item.product_id }}">
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </button>
                                                </div>
                                                {% if item.product.has_weight %}
                                                    <input type="hidden" name="product_weight" value="{{ item.weight }}">
                                                {% endif %}
                                                <input type="number" class="form-control form-control-lg qty_input" name="quantity"  value="{{ item.quantity }}" max="99" min="1" data-item_id="{{ item.product_id }}" id="id_qty_{{ item.product_id }}" required>
                                                <div class="input-group-prepend">
                                                    <button class="btn checkout-btn btn-sm increment-qty" data-item_id="{{ item.product_id }}" id="increment-qty_{{ item.product_id }}">
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link"><small>Update</small></a>
                                        <a class="remove-item float-right text-danger"  id="remove_{{ item.product_id }}" data-product_weight="{{ item.weight }}"><small>Remove</small></a>
                                    </td>
                                    <td>
                                        <p>
                                            £{{ item.product.Price | calc_subtotal:item.quantity }} 
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <h6 >Cart Total: £{{ total|floatformat:2 }}</h6>
                                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                        <h6>Grand Total: £{{ grand_total|floatformat:2 }}</h6>
                                        {% if free_delivery_gap > 0 %}
                                            <h6>You can get free delivery if you spend £{{free_delivery_gap}} more</h6>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <a href="" class="p-2">
                                            <button type="button" class="btn btn-lg checkout-btn">Checkout Securely <i class="fas fa-lock ml-2"></i></button>
                                        </a>
                                        <a href="{% url 'products' %}" class="d-flex justify-content-end mr-2 back-to-product">
                                            <span><i class="fas fa-arrow-left mr-1"></i></span>
                                            <span class="text-uppercase ">keep shopping</span>
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="empty-cart-container">
                        <p>Cart is empty</p>
                        <a href="{% url 'products' %}" class="d-flex justify-content-end mr-2 back-to-product">
                            <span><i class="fas fa-arrow-left mr-1"></i></span>
                            <span class="text-uppercase ">keep shopping</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{block.super}}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        // update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })


        // update quantity on click
        $('.remove-item').click(function(e) {
            var csrfToken = '{{ csrf_token }}';
            var itemId = $(this).attr('id').split('remove_')[1];
            var weight = $(this).data('product_weight');
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_weight': weight}

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}

