{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="contianer-fluid hero-image">
    <div class="row slogan">
        <div class="col-5 bg-black true-font">
            <h3><span class="true-text">True Fitness Gym</span> Making Your Fitness Goals Come <span
                    class="true-text">True</span></h3>
        </div>
        <div class="col-4"></div>
        <div class="col-3"></div>
    </div>
    <div class="row true-join">
        <div class="col-5 true-font">
        </div>
        <div class="col-4"></div>
        <div class="col-3">
            <a class="btn btn-lg true-btn" href="#" role="button">
                Join Now
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row member-story">
        <div class="col-12 member-heading">
            <h4>Stories from our Members</h4>
        </div>
        <div class="col-8">
            <h5>Jeremaih Peterson Lost 92 lbs</h5>
            <p>
                After a family hiking excursion proved too taxing for his 290-lb.
                frame, Jeremiah Peterson decided to change his lifestyle.
                He joined <span class="true-text">True Fitness</span> for motivation. Then, switched over to a keto-diet consisting of healthy fats,
                lean protein and green vegetables,
                started taking twice-daily hour-long hikes, and lifting weights.
            </p>
        </div>
        <div class="col-4">
            <img src="/media/mh-weightloss-6-05-1528222149.png" alt="weight loss" height="100%" width="100%">
        </div>
    </div>

    <div class="row member-story">
        <div class="col-4">
            <img src="/media/065e875fa7edb4e61bf645d10aad3709.jpg" alt="weight loss" height="100%" width="100%">
        </div>
        <div class="col-8">
            <h5>Vanetza Cine Lost 26 lbs</h5>
            <p>
                The military officer, 29, took up bodybuilding to be an inspiration to her troops. “I was supposed to be
                a leader of soldiers, and I could barely pass the Army physical test. I was embarrassed. My soldiers
                looked up to me and I had to counsel them when they couldn’t meet the standards, and yet I myself
                couldn’t meet the standards. I just felt like a hypocrite and a fake." She started working out three
                times a day and saw real changes in her body for the first time. She started working out three times a
                day and saw real changes in her body for the first time. She started working out three times a day at
                <span class="true-text">True Fitness</span> with one of our PT and saw real changes in her body for the first time.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8 open-hours">
            <div class="hours-box bg-black">
                <h4 class="text-center">Open Hour/Enquires Time</h4>

                <h5>Open Hours</h5>
                <p>Gym Open 24/7</p>

                <h6>Need to Contact us Open bussiness hours</h6>
                <p>Phone: 0748748846</p>
                <p>Email: truefitnessgym@hotmail.com</p>
                <ul>
                    <li>Mon - 9am-5pm</li>
                    <li>Tue - 9am-5pm</li>
                    <li>Wed - 9am-5pm</li>
                    <li>Thr - 9am-5pm</li>
                    <li>Fri - 9am-5pm</li>
                    <li>Sat - 9am-3pm</li>
                    <li>Sun - Closed</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h4 class="text-center">True Fitness Gym Location</h4> 
            <div id="map"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/map.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE0BDqy57kEtnif_LjsapchOP-rXF6JDg&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    
{% endblock %}