{% if item.product.image and item.product.image_url %}
    <img src="{{ item.product.image_url }}" alt="{{item.product.Name}}" class="img-fluid cart-img" >  
{% elif not item.product.image_url and not item.product.image %}
    <img src="{{ MEDIA_URL }}depositphotos_247872612.jpg" class="img-fluid cart-img" alt="{{product.Name}}">
{% elif item.product.image and not item.product.image_url %}
    <img src="{{ MEDIA_URL }}{{item.product.image}}" class="img-fluid cart-img" alt="{{product.Name}}">
{% endif %}