<div class="true-nav"> 
    <ul class="nav flex-column mob-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Gym Tips</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_PTs' %}">Hire PT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'account_login' %}" class="nav-link">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#">Join Now</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i> Cart 
                <span>
                    {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                    {% else %}
                        £0.00
                    {% endif %}
                </span>
            </a>
        </li>
    </ul>
</div>
