{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-contianer">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="p-2">Hire PT</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center mb-4">
               <form class="form-inline" method="GET" action="{% url 'all_PTs' %}">
                    <input class="form-control mr-sm-2 PT-hire" type="text" name="hire-search" placeholder="Search for PT" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> 
            </div>
            
        </div>
    </div>
    <div class="row">
        {% for PT in PTs %}
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                {% if PT.PT_image %}
                    <img src="{{ MEDIA_URL }}{{PT.PT_image}}" class="card-img-top" alt="Personal Trainer">
                {% else %}
                    <img src="{{ MEDIA_URL }}depositphotos_247872612.jpg" class="card-img-top" alt="{{product.Name}}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{PT.full_name}}</h5>
                    <p class="card-text">{% if PT.opening_statement %} {{PT.opening_statement}} {% else %} Come train with me at True Fitness Gym {% endif %}</p>
                    {% if PT.availability == True %}
                    <a href="{% url 'PTs_details' PT.slug %}" class="btn checkout-btn">Contact Me</a>
                    {% else %}
                    <a href="#" class="btn checkout-btn disabled" tabindex="-1" role="button" aria-disabled="true">Unavailable</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="scroll-btn" data-toggle="tooltip" data-placement="bottom" title="Scroll to the top">
    <a class="scroll-link">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}   
    <script type="text/javascript">
        $('.scroll-link').click(function(e) {
            window.scrollTo(0, 0)
        })
    </script>
{% endblock %}