{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center true-text true-font mt-1 mb-3"><u>True Fitness Product</u></h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 true-nav">
                <ul class="nav justify-content-center cat-list">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=whey_product,amino_acids,protein_bars,protein_drink">ALL PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=whey_product">WHEY PROTEIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=amino_acids">AMINO ACIDS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products' %}?category=protein_bars">PROTEIN BARS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products' %}?category=protein_drink">PROTEIN DRINK</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <ul class="nav justify-content-center cat-list">
                    {% for c in current_categories %}
                        <li class="nav-item">
                            <a class="nav-link true-border mt-2 mr-2" href="{% url 'products' %}?category={{ c.name }}">{{ c.friendly_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="row mb-1">
                    <div class="col-12">
                        <form class="form-inline" method="GET" action="{% url 'products' %}">
                            <input class="form-control mr-sm-2" type="text" name="true-search" placeholder="Search for product" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="sorting-box rounded my-3 mr-2">
                    <p class="py-1">Select an option to sort by:</p>
                    <div class="radio-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="name(a-z)" name="sorter" value="Name_asc" class="custom-control-input radio-selector" {% if current_sorting == 'Name_asc' %}selected{% endif %}>
                            <label class="custom-control-label" for="name(a-z)">Name (A-Z)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="name(z-a)" name="sorter" value="Name_desc" class="custom-control-input radio-selector" {% if current_sorting == 'Name_desc' %}selected{% endif %}>
                            <label class="custom-control-label" for="name(z-a)">Name (Z-A)</label>
                        </div> 
                        <div class="custom-control custom-radio">
                            <input type="radio" id="price(low_high)" name="sorter" value="Price_asc" class="custom-control-input radio-selector" {% if current_sorting == 'Price_asc' %}selected{% endif %}>
                            <label class="custom-control-label" for="price(low_high)">Price(Low to High)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="price(high_low)" name="sorter" value="Price_desc" class="custom-control-input radio-selector"  {% if current_sorting == 'Price_desc' %}selected{% endif %}>
                            <label class="custom-control-label" for="price(high_low)">Price (High to Low)</label>
                        </div>
                       
                        <div class="custom-control custom-radio">
                            <input type="radio" id="rating" name="sorter" value="Rating_desc" class="custom-control-input radio-selector" {% if current_sorting == 'Rating_asc' %}selected{% endif %}>
                            <label class="custom-control-label" for="rating">Rating</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="reset" name="sorter" value="reset" class="custom-control-input radio-selector" {% if current_sorting == 'None_None' %}selected{% endif %}>
                            <label class="custom-control-label" for="reset">Reset</label>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12">
                        <p>
                            {% if search_product or current_categories or current_sorting != 'None_None' %}
                                <span><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products {% if search_product %} found for <strong>{{ search_product }}</strong>{% endif %}
                        </p>
                    </div>
                    
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4">
                            <div class="card mb-4 border-top-0 border-right-0 border-left-0 rounded-0 true-card">
                                <img src="{{product.image_url}}" class="card-img-top"  height="50%" alt="{{product.Name}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.Name}}</h5>
                                    <ul class="product-list" style="list-style-type:none;">
                                        <li>
                                            {% if product.Category %}
                                            <a href="{% url 'products' %}?category={{product.Category.name}}">{{product.Category.friendly_name}}</a>
                                            {% endif %}
                                        </li>
                                        <li>
                                           Price: £{{product.Price}} 
                                        </li>
                                        <li>
                                            Rating: {{product.Rating}}
                                        </li>
                                    </ul>
                                    <a href="{% url 'products_details' product.id %}" class="btn btn-success">Purchase</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-btn" data-toggle="tooltip" data-placement="bottom" title="Scroll to the top">
        <a class="scroll-link">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}   
    <script type="text/javascript">
        $('.scroll-link').click(function(e) {
            window.scrollTo(0, 0)
        })
    </script>
    <script type="text/javascript">
        $('.radio-selector').change(function(){
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectorVal = selector.val();
            if (selectorVal != 'reset') {
                var sort = selectorVal.split('_')[0];
                var direction = selectorVal.split('_')[1];
                console.log(selectorVal)
                console.log(sort)

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}