{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- <div class="row">
            <div class="col-12">
                <h2 class="text-center true-text true-font mt-1 mb-5"><u>True Fitness Product</u></h2>
            </div>
        </div> -->

        <div class="row mt-3">
            <div class="col-md-6">
                <a href="{{product.image_url}}" target="_blank" >
                    <div class="detail-img mb-3">
                        <img src="{{product.image_url}}" class="" alt="{{product.Name}}">
                    </div>
                    
                </a>
                
            </div>
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col-12">
                        <h3>{{product.Name}}</h3>
                    </div>
                    <div class="col-12">
                        <h4>Product Overview</h4>
                        <h5>
                            {% if product.Category %}
                            <a href="{% url 'products' %}?category={{product.Category.name}}">{{product.Category.friendly_name}}</a>
                            {% endif %}
                        </h5>
                        <h6>Brand: {{product.Brand}}</h6>
                        <p>{{product.product_description}}</p>
                        <h5>Price: £{{product.Price}}</h5>
                        <ul>
                            <li>Rating: {{product.Rating}}</li>
                            <li>Reviews: {{product.Reviews}}</li>
                            <li>Amount: {{product.Size}}</li>
                            <li>Serving: {{product.Servings}}</li>
                        </ul>
                    </div>
                    <!-- <div class="col-12">
                        <select class="custom-select custom-select-lg" name="flavor" id="flavor">
                            <option selected>Select a Flavor</option>
                            {% for Flavor in product.Flavor %}
                            <option value="{{Flavour}}">{{Flavor}}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                </div>
                <form class="" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="custom-select custom-select-lg form-control" name="flavor" id="flavor" required>
                            <option selected>Select a Flavor</option>
                            {% for Flavor in product.Flavor %}
                            <option value="{{Flavour}}">{{Flavor}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% with product.has_weight as w %}
                    {% if w %}
                        <div class="form-group">
                            <label for="product_weight">Select Weight</label>
                            <select class="custom-select custom-select-lg form-control" name="product_weight" id="product_weight" required>
                                <option value="1kg" selected>1Kg</option>
                                <option value="2.5kg">2.5Kg</option>
                                <option value="5kg">5Kg</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <div class="input-group">
                           <div class="input-group-append">
                                <button class="btn checkout-btn decrement-qty" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <input type="number" class="form-control form-control-lg qty_input" name="quantity"  value="1" max="99" min="1" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" required>
                            <div class="input-group-prepend">
                                <button class="btn checkout-btn increment-qty" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12">
                        <button type="submit" class="btn btn-lg checkout-btn btn-block">Add to Cart <i class="fas fa-shopping-cart ml-2"></i></button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </form>
                <div>
                    <a href="{% url 'products' %}" class="d-flex justify-content-end mr-2 my-4 back-to-product">
                        <span><i class="fas fa-arrow-left mr-1"></i></span>
                        <span class="text-uppercase ">keep shopping</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block postloadjs %}
    {{block.super}}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}